[2014-09-01 16:18] ghitchens opened #1 "fwup doesn't compile under uclibc (alix) buildroot"
Was trying to change my firmware update system to use fwup rather than my own custom code but fwup doesn't seem to compile properly when I put BR2_PACKAGE_FWUP=y in my nerves config.   Here is the error log..

fwup_apply.c: In function ‘task_is_applicable’:
fwup_apply.c:43:9: warning: implicit declaration of function ‘pread’ [-Wimplicit-function-declaration]
fwup_apply.c: In function ‘fwup_apply’:

[2014-09-03 19:23] #1 closed, assigned to nobody

[2015-06-22 14:39] systmkor opened #2 "make check fails with Alpine Linux"
Compiling and running the latest commit in master branch.

## System Info
* Distro - Alpine Linux 3.2
* LibC - MUSL
* CC - GCC 4.9.2
* Shell - ZSH 5.0.7

## Log
[code]

[2015-06-23 12:37] fhunleth commented on #2
Do you know which version of libconfuse that you're using? See https://github.com/fhunleth/fwup#building. It really sounds like the libconfuse bug.

[2015-06-23 21:56] systmkor commented on #2
@fhunleth current version of confuse is 2.7 on Alpine. I take it it's a more recent revisions that fixes the bug? Should I build from their repository?

[2015-06-23 23:35] fhunleth commented on #2
@systmkor I just checked https://github.com/martinh/libconfuse, and it still doesn't look like there's a new release tag (over a year since the fix was integrated). I've submitted an issue martinh/libconfuse#23 in hopes that the maintainer will make an official release. For now, you'll need to build from their repository.

[2015-06-23 23:50] systmkor commented on #2
@fhunleth  Thanks :+1:  I tried compiling from the github libconfuse head commit however it fails (i.e. the searchpath test results in a segmentation fault) when running `make check`

[2015-06-23 23:55] fhunleth commented on #2
@systmkor Ugh. Are you running ./configure like at http://git.alpinelinux.org/cgit/aports/tree/main/confuse/APKBUILD? (Sorry - I'm just guessing right now since I haven't used Alpine Linux.)

[2015-06-24 02:26] systmkor commented on #2
@fhunleth tl;dr yes. I didn't check the configuration options since I didn't want to break other programs that depended upon that package. :clap: you google-fu :smile: I assume I need to change the ./confugre options. Also the libconfuse `make check` fails with and without those `./configure` options.

[2015-06-30 20:12] CaptChrisD opened #3 "file-resource custom path does't seem to work"
I am trying to add file to the fw bundle using the file-resource option in my fwup.conf file, like so:

[code]

Then when the firmware bundle is made I get
[code]

From the documentation it seems like this should end up in the root of the bundle.

[2015-06-30 20:19] fhunleth commented on #3
I'm surprised that doesn't work as well. See test 2:

https://github.com/fhunleth/fwup/blob/master/tests/002_resource_subdir.test

My guess is that you're not using the latest version of fwup. I've been slow to update nerves with the latest, since I haven't used it as much, but I have no reason to believe that it wouldn't work. Sorry - really busy with non-Nerves work. :(

[2015-06-30 20:28] CaptChrisD commented on #3
nerves compiled fwup reports version 0.2.0

[2015-06-30 20:57] fhunleth commented on #3
Yep. That feature is in 0.3.0. I added that along with several other things - most notably firmware signatures. If I weren't so busy with work, I'd update nerves, but I'm just swamped at the moment. The new fwup requires libsodium for the signatures. For whatever reason, my libsodium patch is taking the slow road to be included in buildroot. Here's the patch so that you can manually add it, though

[2015-06-30 21:26] CaptChrisD commented on #3
Ok well I really just need the portion of fwup that rewrites the master boot record. So maybe I will look at how to just use that portion....

[2015-07-04 14:02] ypearson opened #4 "fwup --help issue"
/fwup$ fwup --help
Segmentation fault (core dumped)

Running on Virtual Box, Ubuntu 14.04

[2015-07-04 14:22] fhunleth-lkc commented on #4
Well, that's embarrassing... I can't say that I run --help that much, and it's not in the unit tests. I'll check it out after I get back. Thank you very much for sending the report.

[2015-07-05 01:01] ypearson commented on #4
No problem it happens.

I'm looking forward to using fwup on my projects!

[2015-07-05 16:31] ypearson opened #5 "Minor issue with fat_setlabel"
It seems that the label provided gets capitalized. I would be great to get a label that is exactly what is entered without alteration. I guess some upper() function gets invoked.

eg.

on-init {
        mbr_write(mbr-a)
        fat_mkfs(${BOOT_OFFSET}, ${BOOT_COUNT})
        fat_setlabel(${BOOT_OFFSET}, "boot")
    }

Actual label on SD card: BOOT

Ubuntu 14.04

[2015-07-07 21:40] fhunleth commented on #4
Amazingly, running "--help" does not produce a segfault on my system. However, I think I found an issue. Could you update to the latest in master and see if it fixes it?

[2015-07-07 21:49] fhunleth commented on #3
Closing this issue since support for resources outside of the /data directory was added in 0.3.0.

[2015-07-07 21:49] #3 closed

[2015-07-07 22:07] fhunleth commented on #5
My guess is that this is a legacy of 8.3 DOS filenames. The upper() function can be found at https://github.com/fhunleth/fwup/blob/master/3rdparty/fatfs/src/ff.c#L3842. Since this is part of a 3rd party FAT filesystem library I use (http://elm-chan.org/fsw/ff/00index_e.html), I'm a little hesitant to change it. My quick glance through the FAT spec makes it sound like FAT volume labels are supposed

[2015-07-07 23:25] ypearson commented on #4
That fixed it! No more seg fault.

[2015-07-08 00:44] fhunleth commented on #4
Great! Thanks again for letting me know.

[2015-07-08 00:44] #4 closed

[2015-08-05 19:53] edahlseng opened #6 "Formatting FAT FS with offset past 2 GiB"
When running the `fat_mkfs` command to attempt to create a FAT filesystem in a FAT 32 partition, there is an error whenever the offset is exactly 2 GiB or greater.  This error seems to be independent of the size of the partition, and only depends on the offset.  The error is: `A hard error occurred in the low level disk I/O layer`.

[2015-08-05 20:02] fhunleth commented on #6
I haven't tested sizes that large, but it really sounds like I have 32-bit ints where I should have 64-bit ones. I'm pretty sure that I enabled the large file size options on the 3rd party fatfs code, but I'll have to verify and that my code is right. I'm currently very busy on a work project, but will try to get to this in the next few weeks. If you happen to figure it out before then, please sen

[2015-08-05 20:13] edahlseng commented on #6
Thanks for the quick response!  I'll try to figure out a patch if I can, and will keep you updated.

[2015-08-06 21:07] edahlseng opened #7 "Unexpected error parsing meta.conf"
When running fwup with an upgrade task on an embedded device, an error is produced (almost immediately):
[code]
Interestingly enough, when I run the command on my local machine with the sd card simply inserted as an external device, I don't encounter this command.

[2015-08-07 03:29] fhunleth commented on #7
The computers are running different versions of fwup. The embedded device is running an older version. If you match them up, it will work. I view this as a bug. In my own work, I tend to stick to a firmware update version and not change it (or only minorly change it) to avoid forward and backward compatibility problems, but I don't like that as a solution. The real solution is to remove libconfuse

[2015-08-24 13:38] fhunleth commented on #6
Closing this issue thanks to your patch.

[2015-08-24 13:38] #6 closed

[2015-09-01 17:16] edahlseng opened #9 "Issues running from app data partition"
I am attempting to run a ping-pong update with fwup.  I have a separate partition for app data and downloaded the fwup archive to that partition so that I could keep the RootFS small.  When running fwup, however, it first tries to unmount all of the partitions.  When it tries to unmount the app data partition, it receives a partition in use error, and then exits.

I think that a good solution migh

[2015-09-01 17:27] fhunleth commented on #9
Agreed. I had a particularly painful experience a few years ago with a partition not getting unmounted when it should have been, and implemented a simplistic approach that worked on my projects. A couple others have run into the same situation as you, so I'd accept a patch to ignore the error if the unmount fails. I also agree that the config file can be used to figure out the partitions that need

[2015-09-06 00:34] fhunleth commented on #9
Addressed by #10.

[2015-09-06 00:34] #9 closed

[2015-12-02 14:33] fhunleth opened #12 "Upgrade to libconfuse v2.9 to improve backward compatibility"
The current version of libconfuse throws an error if it encounters a configuration parameter that it doesn't recognize. This is a big problem since it prevents the addition of a parameters if you want a new firmware file to be applied by an older version of `fwup`. In many cases, the new parameters are not mandatory for applying the firmware so the error is completely unnecessary. Version v2.9 of

[2015-12-02 14:39] fhunleth commented on #7
I'm going to replace this issue with #12. I can make `fwup` more robust to this backwards incompatibility problem with an upgrade to `libconfuse`. Unfortunately, they still haven't released the new version, but I hope they will soon.

[2015-12-02 14:39] #7 closed

[2015-12-02 14:48] fhunleth opened #13 "sudo-less install on OSX"
Currently `fwup` requires sudo to scan and write to SDCards. It should be possible to scan for SDCards using the Disk Arbitration framework (no elevated privileges required) and to write to them by getting a file handle from `authopen`.

[2015-12-02 14:55] fhunleth opened #14 "GPT support"
It's only a matter of time before we need to support a platform that does not recognize MBR any more. It looks like the newer Intel embedded platforms are going that route.

[2015-12-02 14:56] fhunleth opened #15 "Port to Windows"
It should be possible to program SDCards from Windows.

[2015-12-02 21:57] fhunleth opened #16 "Add flag to disable auto-eject on OSX"
Running two phase upgrades on OSX currently breaks due to auto-eject, since the auto-eject occurs after the first phase and the SDCard is no longer available. Since the nerves-project currently only supports flashing complete images and two phase upgrades, OSX users can only flash complete images at the moment.

[2015-12-08 16:53] fhunleth opened #19 "Add man pages"
Now that `fwup` can be installed from a package manager rather than from source, man pages would be really nice.

[2016-01-20 20:50] adamac opened #21 "Support manipulation of ext filesystems"
In the example fw.conf (https://github.com/fhunleth/fwup/blob/master/fwupdate.conf) an ext partition is used for application data. I'd like to do exactly this but I don't see support for creating ext filesystems.

[2016-01-21 13:46] fhunleth commented on #21
fwup doesn't support ext filesystem operations. I haven't looked into how feasible this is to add. You have two options right now: 1. In your application (or in an init script), check whether the application partition is corrupt, and if it is, create it with `mke2fs`. 2. Create an ext partition image on the host and use `fwup` to write it as a blob.

I'm not a big fan of the 2nd option, since it m

[2016-01-21 14:51] mzakharo commented on #21
It would certainly be nice for fwup to have ext support, but in the mean time, I just have a multi-step process on host that looks like the following:

[code]

[2016-01-21 15:12] fhunleth commented on #21
I just came across this project: https://github.com/gkostka/lwext4. It looks possible to integrate into fwup, doesn't look too huge, and should be portable. If anyone wants to check into it more and give it a go, I'm not against it. In fact, if I run into situation where I need to manupulate an ext partition, I might give it a try too.

[2016-01-21 17:34] adamac commented on #21
Thanks! #2 above is what I had been doing (and it's a hassle since it can take forever to write out). #1 should be reliable but has some startup cost that I was hoping to avoid.

[2016-01-21 17:59] adamac opened #22 "Support modifying uboot environment"
My preferred way of swapping old and new partitions is to update the appropriate uboot environment variables rather than re-writing the MBR. This makes testing and debugging easier, and with a redundant uboot environment enabled should be fully power-off safe. (MBR method makes me nervous)

I've been looking at whether to add this directly to `fwup` or just incorporate it in a wrapper script. Thou

[2016-01-21 18:06] mzakharo commented on #22
For u-boot support out-of-thebox: Check out this: https://sbabic.github.io/swupdate/swupdate.html  - I think both U-BOOT and MBR approaches have their usecases, and we have chosen to go with MBR approach because it is simpler, and some eMMC flash chips  support atomic-write of 512 Bytes, which is the length of MBR, making it play rather nicely together.

[2016-01-21 18:21] adamac commented on #22
I've seen that project; this feature aside, `fwup` feels like the better option. I'm specifically concerned with environments that don't use eMMC and as such the MBR operation is not power-off safe.

I don't think it would be much work to add an action to set uboot environment variables. I'm considering making the additions. This could be an alternative to the MBR approach.

[2016-01-22 14:46] mzakharo commented on #22
This contribution would also benefit projects that do not use MBR,  like some Intel embedded platforms!

[2016-01-22 14:57] fhunleth commented on #22
I completely agree that this would be a useful addition.

[2016-01-27 01:54] fhunleth commented on #13
Support is now in the master branch.

[2016-01-27 01:54] #13 closed

[2016-02-29 13:14] bordeltabernacle opened #24 "Unable to install libsodium-dev in the proposed way"
On Ubuntu 14.04 installing libsodium-dev did not work for me, I got an `unable to find package` result.

I installed it from [this](https://gist.github.com/jonathanpmartins/2510f38abee1e65c6d92) instead.

[code]

[2016-02-29 17:37] fhunleth commented on #24
Thanks for figuring this out and letting me know. Do you know how official that ppa is?

[2016-03-01 09:24] bordeltabernacle commented on #24
I don't, but in a quick google search it turns up in a few places, looks pretty legit, but I don't know a lot about these things.

https://launchpad.net/~chris-lea/+archive/ubuntu/libsodium
https://github.com/travis-ci/apt-source-whitelist/pull/145
https://paragonie.com/book/pecl-libsodium/read/00-intro.md

[2016-03-01 12:04] bordeltabernacle commented on #24
It also appears as though `libarchive-dev` is now available through apt-get.

[2016-03-01 13:26] bordeltabernacle opened #25 "Error when running ./configure in Vagrant"
In a Vagrant Ubuntu Trusty64 box, when running the `./configure` command inside the fwup directory I get the following error:

    ./configure: line 12447: syntax error near unexpected token `BASH_COMPLETION,'
    ./configure: line 12447: `    PKG_CHECK_MODULES(BASH_COMPLETION, bash-completion >= 2.0,'

I have tried uninstalling and reinstallling bash-completion but this had no effect.  I didn't h

[2016-03-01 15:28] fhunleth commented on #25
That's with master. I'll look into fixing that, but I'd recommend trying the latest release. I only just added bash completion support.

[2016-03-01 17:32] fhunleth commented on #25
Also, I fixed the error with determining the bash completion installation directory, so master should work as well now. I'd still stick with v0.6.0 (or subsequent releases) for your Vagrant provisioning script, though, so that you always hitting a known good version. Thanks for reporting the issue.

[2016-03-31 11:33] rmorgans commented on #12
https://github.com/martinh/libconfuse/releases/tag/v3.0

[2016-05-13 15:13] fhunleth commented on #24
Closing this since `.deb` files are provided now. The `.deb` has a statically linked `fwup` that doesn't require libsodium or libarchive to be installed.

[2016-05-13 15:13] #24 closed

[2016-05-13 15:19] fhunleth commented on #19
Man pages added in commit 451b921cd22281597434ba45d4b43ea694401ef0.

[2016-05-13 15:19] #19 closed

[2016-05-17 20:18] fhunleth opened #28 "SD cards can be bigger than 32 GB"
Technology has moved on. This line needs to be fixed:

https://github.com/fhunleth/fwup/blob/master/src/mmc_linux.c#L54

There's got to be a better way, though.

[2016-05-29 21:04] fhunleth opened #29 "eject fails on OSX with unhelpful error message"
Here's the error:

 `fwup: eject failed: 0xc010 (49168) (null))`

This was reported by @wsmoak on the elixir-lang slack. I'm not sure if improvements to the error message would help debug this particular issue. Check if error 49168 could be a commonly encountered error if the SDCard is busy and produce a better error message.

[2016-05-30 01:24] fhunleth opened #30 "FAT file timestamps are off by one month"
See https://github.com/nerves-project/nerves/issues/7. This is actually visible in the FAT unit tests for writing files to partitions. Unfortunately, when those tests were written I just cared that the file's name and contents were correct.

[2016-05-30 02:50] fhunleth commented on #30
Fixed in 1358f1d2c7991dc40f374de87057d29250e2e5af. Thanks @wsmoak!

[2016-05-30 02:50] #30 closed

[2016-05-30 19:16] fhunleth commented on #28
Fixed for a while: b08321bd657defa7ec5bf81a8c15f761abeec7b7

[2016-05-30 19:16] #28 closed

[2016-05-30 19:23] fhunleth commented on #12
libconfuse v3.0 was needed for this to work. fwup now uses the unknown parameter feature if it's available. Older libconfuse version still can be used with the old behavior, but they'll emit a warning when compiled. See 172eed535183d39f3456852645f79c176eae79e6.

[2016-05-30 19:23] #12 closed

[2016-05-30 19:30] fhunleth commented on #5
Closing this issue since nothing has been done on it for almost a year. It doesn't feel like support for mixed case volume labels is worth the effort to verify that it's harmless.

[2016-05-30 19:30] #5 closed

[2016-05-30 19:33] fhunleth commented on #2
Closing old issue. Hopefully fwup works on Alpine now, but if not, I would assume it to be a new issue since libconfuse is at 3.0 upstream now.

[2016-05-30 19:33] #2 closed

[2016-05-30 19:35] fhunleth commented on #16
I somehow missed closing this when I fixed the issue. The `--no-eject` option does this and has been available since `v0.5.1`.

[2016-05-30 19:35] #16 closed

[2016-06-23 05:03] rkenzhebekov commented on #29
@fhunleth, I got this same error:
[code]

[2016-06-24 17:57] fhunleth commented on #29
I'm not a Mac person, but if anyone has any clues to this error or what's happening, please share. I also can't reproduce it.

[2016-07-07 15:18] fhunleth opened #34 "SDCard autodetector skips /dev/sda"
I had been under the impression that `/dev/sda` would never be an SDCard. Today, I worked with someone who's laptop legitimately assigned the SDCard to `/dev/sda`. Their root filesystem was on `/dev/sdb`.

[2016-07-16 00:31] jerel opened #35 "A /dev/sdb file gets created if actual device is missing"
I'm unsure of when exactly this happened but I likely was running `mix firmware.burn -d /dev/sdb` to manually choose the device and probably ran it when the SD card was unplugged.

Writes always appear to succeed, password prompt still appears, etc. Even gparted will [mostly] work on the resulting file.

[2016-07-27 02:30] GregMefford commented on #15
Most of the tests are passing now under Wine using the `windows` branch (see PR #36).
I am beginning to test actual writing of SD cards on a real Windows machine.

[2016-08-18 02:27] GregMefford commented on #15
With the merging of #37 to the `windows` branch,, we have a working version of fwup on Windows. All of the features haven't been thoroughly tested yet, but the basic process of burning an SD card is working.

We should shortly have a process in place to package the executable as an MSI for easy installation on Windows. :rocket:

[2016-08-23 01:04] #35 closed

[2016-09-08 15:33] fhunleth commented on #15
Windows support is now in v0.9.0!

[2016-09-08 15:33] #15 closed

[2016-09-08 15:48] fhunleth commented on #29
After some googling, it sounds like people are getting around this error by disabling their anti-virus software. I'm wondering if those of you who've seen this have an anti-virus program running.

[2016-09-09 01:36] wsmoak commented on #29
I turned off Bitdefender, but I still get this (with fwup 0.8.0)

[code]

[2016-09-09 02:26] fhunleth commented on #29
Bummer. Thanks for letting me know. I guess it's time for more googling. If anyone knows what error 49168 is, that would be helpful. I can't find it.

[2016-09-13 12:35] philipgiuliani opened #42 "Not compiling because of help2man"
I had issues compiling the 0.9.0 version, while 0.8.2 works fine.

`./configure` runs fine, but `make` fails with the following error:
[code]

After removing the following code from `src/Makefile.am` it worked fine.
[code]

If you have any questions, just ask!

[2016-09-13 12:39] philipgiuliani opened #44 "Test 030 and 032 failing on raspbian"
The following two tests are failing on raspian. I looked at them but could not find out why. On my SD Card i have 20 GB of space left.
* tests/030_2T_offset.test
* tests/032_fat_2T_offset.test

[2016-09-13 12:48] fhunleth commented on #44
Those tests fail on systems that don't support sparse files. They actually don't use up much disk space at all. I assume that Raspbian uses ext4 so it *should* be fine, but maybe there's another constraint that kicks in on 32-bit processors.

[2016-09-13 13:15] philipgiuliani commented on #44
Here the output of `df -T`, as you said, its using ext4.

[code]

Just tell me when i can do something to help you identifying the issue.

[2016-09-13 15:07] fhunleth commented on #42
I see that there's an issue since `EXTRA_DIST += fwup.h2m` should be outside of the `if` statement. However, I'm not sure that this is causing your issue. Do you have this file? https://github.com/fhunleth/fwup/blob/master/src/fwup.h2m. If you don't, then how did you get the fwup source code? Git, releases link, somewhere else?

[2016-09-13 15:36] philipgiuliani commented on #42
Seems that i dont have the file. Downloaded it from the Github releases page!

[2016-09-13 15:43] fhunleth commented on #42
I found it. Travis didn't have help2man installed and the `if` statement above caused the file to not be included. I could have sworn that travis had help2man installed for earlier releases.

I've pushed two changes to fix this issue: c077698b2386e81838972810c950a9a2dc6a9670 and e4abcc2c6f5bf8252ad0486d87528149d7fd8094. The first will always distribute the fwup.h2m. The second makes sure that help

[2016-09-13 15:43] #42 closed

[2016-09-14 04:35] jmedding opened #45 "fwup_0.9.0_amd64.deb package is rejected by Ubuntu 14.04"
When trying to install **fwup_0.9.0_amd64.deb** I get an error: **This package is of bad quality**

I checked version 0.8.2 and it's the same message, although the values in the details are different.
 couldn't find anything on the googles, so I just installed it.  It seems to work fine.  If this is normal, just close this ticket.  Thiss issue might help others with the same thing though.

[2016-09-14 13:15] fhunleth commented on #45
Thanks for the report! I fixed both of those errors and a couple more in a2b791b9d7f47cd16967d06defe70349c964318e. Lintian still complains about more things for me (Ubuntu 16.04), but those will take more time. None of the errors hurt installation, though.

[2016-09-15 02:41] fhunleth-lkc commented on #45
I took another pass at `fpm` to generate a better `.deb` file (https://github.com/fhunleth/fwup/commit/29599930f75ab35523322ac7b13ff6608ab7d2ce). I think that I'm about as close as can be achieved with `fpm`. This doesn't pass the version of Lintian on my system, but I don't receive any errors or warnings when I install it.

[2016-09-15 02:41] #45 closed

[2016-09-16 03:21] jmedding commented on #45
I can confirm that everything works (rpi3 is blinking happily) even with the error messages.  Thanks for responding and improving.

[2016-09-16 03:46] fhunleth commented on #45
Great! Thanks for reporting back.

[2016-09-19 17:53] philipgiuliani opened #48 "Add possibility to exclude certain devices"
**Problem**
On a Raspberry the system sdcard is suggested instead of a external attached sd card.

**Possible solutions**

1. `~/.fwup.conf` file with a list of interfaces to exclude/include

2. `~/.fwup.conf` which allows to set all the defaults of the argument i can pass (so i dont have to specify `-d` everytime)

3. Maybe the auto-detect feature should show all attached sd cards and you can set

[2016-09-20 00:26] fhunleth commented on #48
@mobileoverlord - FYI: this issue may affect the Nerves tooling. I'm still thinking of a solution. The backstory to this issue is that @philipgiuliani is running on a Raspberry Pi where the SDCard containing the OS looks a lot like an SDCard that `fwup` would like to program. Use of a configuration file came up while we were brainstorming possible solutions. I'm currently leaning towards being sma

[2016-09-20 01:13] GregMefford commented on #48
You could process the output of `df` to ignore the drive that's mounted at `/`.
I was thinking you could ignore anything that's in `df`, since the person wouldn't be mounting their SD card, but that's probably not as robust with Linux auto-mounting USB drives.

[2016-09-20 01:32] fhunleth commented on #44
I commented these out since I'm getting errors from the OS. It doesn't look like a `fwup` issue. See https://github.com/fhunleth/fwup/commit/6df3536ad0f6720d23ff577460c66f0fa100c040.

[2016-09-20 01:32] #44 closed

[2016-09-20 01:36] fhunleth commented on #34
Another place where this comes up is for Raspbian users. Raspbian comes up on `/dev/mmcblk0` and the SDCard that people want programmed is `/dev/sda`.

[2016-09-20 16:43] gallexme opened #49 "fwup not yet in Chocolatey's repo"
fwup not installed. The package was not found with the source(s) listed.
 If you specified a particular version and are receiving this message, it is possible that the package name exists but the version does not.
 Version: ""
 Source(s): "https://chocolatey.org/api/v2/"

[2016-09-20 16:56] gallexme opened #50 "[WIN 10]fwup burning to SD card not working as expected"
Log:
fwup -a -i rpi/blinky.fw -t complete
Use 1.89 GiB memory card found at \\.\PhysicalDrive2? [y/N] y
100%
they were never bootable by rpi
and sometimes the .txt files were "jibberish"(broken)
example cmdline.txt: ÂœV¾ƒã|“nÙÄ¶õ[á157T•§ñ´6öœ§ lÑúÆeá*iûÚ–))Žœ(-¶æPÜ»oÕç²º¾È

but writing to .img file then writing it with win32 disk imager to the sd card it works

[2016-09-20 17:53] fhunleth commented on #49
Soon, I hope:

https://chocolatey.org/packages/fwup/0.9.1

[2016-09-20 17:55] fhunleth commented on #50
@GregMefford or @michaelkschmidt, have you seen this?

[2016-09-20 18:24] michaelkschmidt commented on #50
I have not.  @gallexme can you send us the .fw file to see if I can reproduce it?

Also, when you write to the .img file, are you doing that in Docker or Windows?

[2016-09-20 18:33] gallexme commented on #50
windows, im just creating the .fw file on a linux docker everything else on windows
[blinky.zip](https://github.com/fhunleth/fwup/files/483362/blinky.zip)

i dont think that there is anything special about the .fw

[2016-09-21 02:46] fhunleth commented on #34
Fixed. See link above for commit.

[2016-09-21 02:46] #34 closed

[2016-09-21 02:51] fhunleth commented on #48
@philipgiuliani: I added detection of which drive is mounted at `/` to exclude it from the autodetect list. It's in the `autodetect` branch. Could you try it out? You can get a prebuilt `.deb` package for Raspbian here: http://files.troodon-software.com/fwup/autodetect/fwup_0.9.2-dev_armhf.deb. It will install `fwup` to `/usr/bin`, so if you've previously compiled from source, be sure to remove th

[2016-09-21 08:01] philipgiuliani commented on #48
@fhunleth I'm not at home, i'll try it out today evening.

[2016-09-21 12:35] GregMefford commented on #50
I didn't have a chance to look into this yet, but I'm curious if it's related to the block size of the SD card. Do you by chance have a different model of card you can experiment with?

[2016-09-21 13:55] fhunleth commented on #50
@GregMefford I'm not aware of any non-512 byte block size SDCards. There are 4K hard drives, but not SDCards. If you're referring to erase block sizes, the SDCard firmware handles those variations.

This issue feels more to me like the drive didn't unmount all the way when fwup was writing to it. Then, Windows wrote some things on top of what fwup wrote and the contents were out of sync.

[2016-09-21 15:06] gallexme commented on #50
@fhunleth gonna test that later (fully unmounting it )

[2016-09-21 15:12] michaelkschmidt commented on #50
@fhunleth the block size was an issue during the transition from SD -> SDHC.  There were a few cards manufactured that 1K Blocks to reach 2 GB.

Some more info here: https://en.wikipedia.org/wiki/Secure_Digital#Transfer_modes

@gallexme what size card are you using?

[2016-09-21 15:13] gallexme commented on #50
@michaelkschmidt  1gb or 2gb not sure(not home) but im 90 % sure 2gb

[2016-09-21 16:24] michaelkschmidt commented on #50
OK, I think I have reproduced the issue

Looks like there are a couple bugs:
- [ ] We are not unmounting the FAT partition, so it does not get updated
- [ ] UBoot Stage1 doesn't appear to be writing

That said, if you have already written the card once, both items are already there and fwup can update the rest.

@gallexme can you confirm that if you write the card once with win32 disk imager, that

[2016-09-21 16:40] fhunleth commented on #50
If the FAT partition isn't unmounted, then all bets are off. I don't think there's any point in experimenting until that's fixed. Since the FAT partition is always updated on Raspberry Pis, even the smaller upgrade tasks aren't guaranteed to work. I think that if they do work that it's just luck since the files being upgraded are most likely not changing.

[2016-09-21 17:06] gallexme commented on #50
@michaelkschmidt  actually i cant update
fwup -a -i rpi/fw.fw -t upgrade
Use 1.89 GiB memory card found at \\.\PhysicalDrive2? [y/N] y
 21%
fwup: fat_write can't write(zImage.new): A hard error occurred in the low level disk I/O layer

[2016-09-21 17:38] michaelkschmidt commented on #50
@gallexme try the "complete" task:
[code]
The only reason I suggest this is that it has been accidentally working for me :disappointed:

[2016-09-21 17:53] philipgiuliani commented on #48
It seems to have worked fine.

[code]

Awesome, thanks! :)

[2016-09-21 18:15] fhunleth commented on #48
Great! Thanks for verifying. I'll merge the change to `master` for the next release.

I'm going to keep this issue open a little bit longer since the config file is still interesting. It has some ramifications, though, that need thought. If I don't get any great ideas before the next release, I'll close this and possibly open an issue solely regarding the config file.

[2016-09-22 17:39] #50 closed

[2016-09-22 17:57] fhunleth commented on #50
@gallexme: GitHub auto-closed this issue, but it really looks like @michaelkschmidt fixed it. Could you try out one of these and see if his fix works for you?

http://files.troodon-software.com/fwup/master/fwup.exe
http://files.troodon-software.com/fwup/master/fwup.0.9.2-dev.nupkg

[2016-09-23 15:46] gallexme commented on #50
@fhunleth seems to work 👍

[2016-09-23 16:15] fhunleth commented on #50
@gallexme: Thanks! I'm generating a release with the fix now. Thank you very much for the report!

[2016-10-06 02:52] fhunleth commented on #22
I finally added U-boot environment support. This isn't a complete implementation of all of the U-boot environment options (redundant env, big endian support are missing). It is good enough, though, for me to replace the use of `mkenvimage` and `raw_write` in my projects that were modifying the U-Boot environment. Regression test 082 has an example of A/B firmware updates using U-boot environment s

[2016-10-06 02:52] #22 closed

[2016-10-11 15:40] fhunleth commented on #49
It's still not on chocolatey, but look here now:

https://chocolatey.org/packages/fwup/0.9.2

[2016-10-11 18:47] fhunleth commented on #49
Just posted now!

https://chocolatey.org/packages/fwup

[2016-10-11 18:47] #49 closed

[2016-10-12 23:35] GregMefford commented on #49
🎉 🚀 ✨

[2016-10-23 17:02] fhunleth commented on #48
I'm closing this issue, since I'm pretty sure that the original problem has been addressed. I'm not opposed to having a global config file, but I don't feel like there's enough motivation to spend time adding it (for me at least).

[2016-10-23 17:02] #48 closed

[2017-01-13 22:26] robhemsley opened #54 "Unable to raw_write single resource to two different offsets"
When specifying the same resource to be written to two different offsets it fails with the following message.

In my setup both partitions should have the same resource written during factory setup. I would like to avoid having to increase the size of my .fw bundle with a duplicate resource. My config currently looks like this:

[code]

Is this an intentional design decision?

[2017-01-13 23:06] fhunleth commented on #54
The intentional design decision was to make `fwup` streamable for updates (i.e. no disk space is required to hold the .fw file on device). Everything flows down from that decision. That's why you can't write a resource twice, since it would either require caching the whole resource or rewinding. In theory, there's nothing preventing a function like `raw_write2` that writes the file to two places w

[2017-01-20 21:06] robhemsley commented on #54
That makes complete sense. This would only be need in the factory and so I'm happy to just create two tasks and run fwup multiple times during setup.

Thanks for taking the time to explain.

[2017-01-20 21:06] #54 closed

[2017-02-08 20:53] fhunleth opened #55 "Can't auto unmount drives with whitespace in their names"
To reproduce, format a memory card and create a partition with a space in the name. If you're on a Linux system that creates mount points based on volume names, you should get a space in the directory. Now run fwup to program that memory card and it will fail to unmount the partition.

[2017-02-08 21:03] fhunleth opened #56 "Autodetection of large drives fails on Linux"
The user is programming a 120 GB SSD connected via a SATA->USB3 cable using fwup. The drive is not being autodetected since fwup thinks that it's too large to be a memory card. There should be a better way of detecting removable drives or the user should be given an error that's more helpful.

[2017-02-11 03:49] #55 closed

[2017-02-21 16:03] Polynomial-C opened #57 "fwup.1 man page contains error message"
Hi,

the fwup.1 man page generated by help2man contains the following line in the DESCRIPTION section:

[code]
The reason is help2man calling `fwup --help` which fwup does not understand. Unfortunately help2man refuses to call a binary with no `--help` option at all (adding `--help-option=""` in src/Makefile.am makes help2man fail).

[2017-02-21 16:13] fhunleth commented on #57
Thanks! I can't believe that I hadn't noticed that when I first added man page generation, but it's definitely there. Fix coming shortly...

[2017-02-21 16:28] Polynomial-C commented on #57
Okay, seems like you beat me in fixing this ;)

[2017-02-21 16:46] fhunleth commented on #57
Oops - I should have waited. The bug was a little embarrassing, though, so I wanted to be done with it. I appreciate you taking the time to let me know and for putting together the patch.

[2017-02-21 16:54] Polynomial-C commented on #57
Nah, it's all fine. From a quick glance your patch seems to be more elegant than mine. My C is quite rusty anyway.
Am I right that your patch returns failure when invoking --help? Shouldn't that rather be success because when `fwup --help` prints the help message it successfully did what the user requested?
Oh and out of curiosity, why not using the `-h` short option but `-?`?

[2017-02-21 17:06] fhunleth commented on #57
You're right - mine does return error when specifying `--help` and that's not right. As for `-h` vs `-?`, my fingers type `-?` frequently, but `-h` makes sense too. Would you mind resubmitting your patch with the one simplification of handling the call to print_usage in the switch rather than making a full-fledged command out of it? You really should get full honors for this.

[2017-02-21 17:39] Polynomial-C commented on #57
Here we go. I kept `-h` as short option but would not mind to change that to `-?` if you prefer that.

[2017-02-21 17:46] fhunleth commented on #57
Looks good to me. I merged it. Thanks again!

[2017-02-21 17:46] #57 closed

[2017-02-21 17:59] Polynomial-C commented on #57
D'uh... one minor styling issue with my patch... line 331 is not correctly aligned.

[2017-02-21 18:02] fhunleth commented on #57
No worries - I'll fix it.

[2017-03-01 16:15] fhunleth opened #58 "Add the words "success" to the output when done"
When addressing this, take a look at the rest of the output. It might be nice to clean up progress or other messages as well.

[2017-05-19 10:36] georgewhewell opened #60 "Sparse file tests fail on ZFS"
I can replicate this on ZFS, but all pass on ext4.

https://gist.github.com/Mic92/cda72ea4f028ff33e440c22dc2df15de

[2017-05-19 19:10] fhunleth commented on #60
Thanks for the report on ZFS! I tried it out. ZFS has a minimum sparse hole size of 128 KB vs. ext4's 4 KB. The failed unit tests rely on the minimum sparse hole size. Since it's completely reasonable for a filesystem to limit the minimum hole size, I modified the regression tests to verify it at runtime. This makes all tests pass on ZFS for me (and cleans up some code).

My changes are at: https:

[2017-05-20 15:19] georgewhewell commented on #60
@fhunleth Very nice, thanks- all sparse tests now pass. Test 105 still fails on my ZFS machine (and NixOS builder- https://hydra.nixos.org/build/53010322), although it passes on my ext4 machine.

[2017-05-20 16:10] fhunleth commented on #60
I may need to set up a ZFS machine to debug, but I think that I have a guess. Test 105 exercises code that detects where the root filesystem is mounted. To do this, it tries to figure out the right answer in a shell script, but I don't see how this works if the root filesystem is on more than one disk. Since ZFS has volume management built in, I wonder if it won't work even with one disk.

Anyway,

[2017-05-20 19:20] georgewhewell commented on #60
All tests pass on this branch now, many thanks.

On one ZFS machine I get `0015`, on another I get `0016`.

[2017-05-20 19:43] fhunleth commented on #60
Great! I merged the changes to `master`. I'll be making a patch release later this afternoon so that your NixOS package can use a proper release version.

Thanks again!

[2017-05-20 19:43] #60 closed

[2017-06-02 14:10] fhunleth opened #62 "Switch crypto library from libsodium to OpenSSL"
I'm putting this out there for comment. Over the past couple years, I've receive some interest in switching back to OpenSSL. Some may remember that fwup originally used OpenSSL, but I switch to libsodium because 1. it was far easier for me to understand, 2. a smaller dependency, and 3. there was quite a bit of negative press regarding vulnerabilities in the OpenSSL. The reasons for switching back

[2017-06-15 19:43] ConnorRigby opened #63 "Adding single files is too tedious"
too add files to a partition you need to have steps like:
[code]

then in the each task you must:
[code]

This leads to a ton of duplicated lines. (especially when you have a part_a/part_b system)

It would be nice to just be able to specify a list of files you are concerned with

[2017-06-17 23:36] fhunleth commented on #63
Agreed

[2017-06-19 19:43] fhunleth commented on #21
This issue has been open for quite a long time and I don't know of anyone working on this any time soon. Going to close for now.

[2017-06-19 19:43] #21 closed

[2017-06-23 17:39] fhunleth commented on #29
Since it seems like this error is harmless, I silenced it in 8dbc0ca01f038123263b8ea8601378d0493b6a07. I never could find information about the error.

[2017-06-29 13:30] fhunleth commented on #29
Updates:

It turns out that 0.15.0 caused the error to hit more often. I found and fixed an issue and released 0.15.1. I re-enabled the error message in 0.15.1 since I thought that this issue was really fixed now.

Last night I witnessed an eject failure with 0.15.1. The person who had the laptop said that it was in really poor shape and had many issues with USB devices. She was using a USB Multic

[2017-07-07 15:24] mobileoverlord opened #65 "Strict variable checking"
While updating an fwup.conf file I was renaming variables and missed some. When it tried to execute complete task, it failed with misleading error messages. Fwup should warn / error on unset variables.

[2017-07-08 02:19] fhunleth commented on #65
Fwup can't warn on unset variables, or at least I'm pretty sure that it can't, since the variable lookup is done by libconfuse. Fwup can detect empty strings for parameters, though, and I think that will catch what happened to you. I thought that I handled this case, but it turned out that if you had a variable as a parameter and it was undefined that an empty string was passed. `strtoull` happily

[2017-07-08 02:19] #65 closed

[2017-08-01 13:04] fhunleth opened #67 "Support writing to SDCards from within the Windows Subsystem for Linux"
With some work, it's possible to get `fwup` to both run in the Windows Subsystem for Linux and be able to write to SDCards. Here's a report from @jmerryweather:

steps are as follows:
(1) uninstall any linux version of fwup in WSL
(2) from Windows install fwup using chocolatey
(3) create a 'fwup' file that will will point to fwup.exe, i can send you the version i made, it is based on the VS Code '

[2017-08-01 13:05] fhunleth commented on #67
@michaelkschmidt - What do you think about adding the above script to Chocolatey package? Do you see any issues?

[2017-08-01 17:36] michaelkschmidt commented on #67
@fhunleth This looks like a good start.  We don't want to break fwup running under `msys` bash, though.  How does this look?
[code]

[2017-08-01 20:16] fhunleth commented on #67
Good point on `msys`.

Also, I haven't run this, but shouldn't `"$FULLPATH" "$@"` work for all cases? I'm trying to think about when `fwup.exe` would be someplace other than `$FWUP_LOCATION/fwup.exe`.

Could the script just be:

[code]

Also, I dropped the `exit $?` since shell scripts return the exit status of the last program run by default. However, if Windows needs this, then please add back.

[2017-08-01 22:52] jmerriweather commented on #67
I've tested the above more concise fwup wrapper under WSL, cmd and powershell. It works well. It doesn't look like Windows needs the `exit $?`

[2017-08-02 01:19] fhunleth commented on #67
Great! @jmerriweather Do you want the honors of submitting the PR? Sounds like the script just needs to be put in the scripts directory and a line added to copy it over here: https://github.com/fhunleth/fwup/blob/master/scripts/build_pkg.sh#L59.

[2017-08-02 02:13] jmerriweather commented on #67
Sure! I've submitted the PR

[2017-08-03 03:00] michaelkschmidt commented on #67
I just tested and the simplified script seems to still work with `msys`.

[2017-08-14 13:52] fhunleth opened #71 "Check whether overwriting files when calling fwup -g"
Alternatively, refuse to overwrite existing key files so as to not lose old ones.

[2017-08-14 15:05] fhunleth commented on #71
Fixed in 731085b3e9d04555b20d282c06a0649f782dc11d.

[2017-08-14 15:26] #71 closed

[2017-08-14 15:36] #58 closed

[2017-08-23 21:19] fhunleth opened #72 "Use monotic time for elapsed time calculation"
The elapsed time calculation uses gettimeofday which is not monotonic. On devices that take a while to update their clocks, the jump from 1970 to the current date has actually happened during a firmware update and confused people.

[2017-09-22 14:26] fhunleth opened #73 "Switch SD card size message to power-of-10 units"
Currently, you get this:
[code]
This is for a MicroSD card that is labeled "64 GB". Since it seems like SSDs and SDCards are all labeled in power-of-10 units and pretty much every other program besides `fwup` uses power-of-10 units for these devices, change that message to something like this:
[code]

[2017-09-23 21:05] #73 closed

[2017-09-26 00:39] #72 closed

[2017-10-29 22:56] ConnorRigby opened #77 "Terminal size can cause progress bar to break"
![peek 2017-10-29 15-55](https://user-images.githubusercontent.com/21150830/32149440-bc36508c-bcc1-11e7-8258-3763d80857e3.gif)

[2017-11-07 15:28] #77 closed

[2017-11-12 11:25] niko opened #79 "building on OpenBSD: export autoconf and autmake version needed"
To build on OpenBSD I had to
[code]
before `./autogen.sh` would work.

[2017-11-12 11:27] niko opened #80 "make check on OpenBSD fails (15/140)"
[code]

[2017-11-12 14:31] fhunleth commented on #79
Thanks for letting me know about this. I can add this to the BSD build instructions. Do you happen to know why it's needed?

[2017-11-12 14:40] fhunleth commented on #80
What version of OpenBSD are you running? I don't regularly run OpenBSD, so if there's anything else I should know to reproduce these issues, could you let me know that as well.

Also, if you happen to know whether there's an OpenBSD CI server that I can use to automate testing of `fwup` I would most appreciate it.

As a final note, if you're just creating .fw files on OpenBSD, you should be fine e

[2017-11-15 15:31] fhunleth commented on #80
Ok, I went through and fixed all of the OpenBSD failures. This was unbelievably helpful as it pointed out several subtle, but legit issues. Thanks for bringing this to my attention!

[2017-11-15 15:39] #79 closed

[2017-11-15 15:39] #80 closed

[2017-11-15 21:01] fhunleth opened #81 "Sparse file unit tests fail on new Apple File System"
After upgrading the OSX High Sierra, 4 sparse file tests start failing. APFS supports sparse files, but its heuristic for determining when to make a hole is not as immediately obvious as it is with other filesystems that support sparse files. It may be necessary to disable these tests on OSX in the nearterm.

[2017-11-17 02:51] #81 closed

[2017-12-01 11:44] jtojnar opened #83 "make check failing on NixOS"
The tests start failing on 0.15.0, 0.14.3 builds fine.

<details><summary>fwup 0.15.0: tests/test-suite.log</summary>

[code]
</details>

With the current version, even more tests fail:

<details><summary>fwup 0.18.0: tests/test-suite.log</summary>

[code]
</details>

[2017-12-01 14:34] fhunleth commented on #83
Thanks for letting me know about this. That really looks like an issue with the test suite rather than fwup itself. Between the versions that you referenced, I added code to validate syscalls since there are non-obvious constraints with buffer alignment, sizes and offsets on some platforms. That code is failing, but it's failing since the syscalls aren't being captured. I doubt that anything here

[2017-12-01 14:43] orivej commented on #83
@fhunleth Thank you for your effort! You can run `nix-shell '<nixpkgs>' -A fwup` to enter the build environment with all the dependencies for `fwup`.

[2017-12-02 19:18] fhunleth commented on #83
I just ran the following in a fwup source directory:
[code]
All tests passed for me.

I'm running NixOS 17.09.2249.6b8833df272 (x86_64-linux) in VirtualBox. Are you running something different?

[2017-12-02 19:22] jtojnar commented on #83
Sorry about that, NixOS 17.09 contains the old version of `fwup`. Could you run `nix-channel --add https://nixos.org/channels/nixpkgs-unstable` and `nix-channel --update` before entering the shell.

[2017-12-02 19:30] fhunleth commented on #83
I checked out fwup v0.18.0 from Github to ~/fwup and built it there. I ran the commands that you wrote and re-entered the shell. Should I be compiling from a different directory?

[2017-12-02 19:32] jtojnar commented on #83
My bad, that should be fine. Then it looks like a problem with environment. Could you try using `nix-shell '<nixpkgs>' -A fwup --pure` to sandbox the shell?

[2017-12-02 19:36] fhunleth commented on #83
Ok, `--pure` is really cool.

I ran `make distclean` first to start a fresh build and then repeated what I did above. I have the same result. I.e. everything works.

[2017-12-02 19:37] orivej commented on #83
Sorry, we have not checked if the tests of the newer `fwup` fail in NixOS 17.09, only in the NixOS master (aka unstable). One of the differences is the upgrade to Glibc 2.26.

[2017-12-02 19:40] orivej commented on #83
Could you unpack https://github.com/NixOS/nixpkgs/archive/master.tar.gz somewhere and run `nix-shell path/to/master -A fwup --pure`? This should reproduce test failure.

[2017-12-02 19:54] fhunleth commented on #83
Downloaded and unpacked and I'm finally getting the failures! Investigating...

[2017-12-02 20:32] fhunleth commented on #83
Fixed! The difference was indeed related to glibc 2.26. The implementation of open() was changed to call the openat syscall. I didn't handle the openat syscall in the syscall validator, so it was throwing an error. It's handled now. Thanks for reporting this. I'll make a patch release shortly.

[2017-12-02 20:39] orivej commented on #83
Thank you for the fix (and for introducing me to the `open_by_handle_at` syscall)!

[2017-12-02 21:01] #83 closed

[2017-12-02 21:41] fhunleth commented on #83
Thanks @jtojnar and @orivej again for reporting the issue and helping me reproduce it. The 0.18.1 release is now available with the fix.

[2018-02-02 16:15] gallexme opened #85 "Arch Linux AUR not working because it isnt passing all tests"
maybe some dependencies missing in the requirments of the AUR?

[code]

[2018-02-02 22:42] fhunleth commented on #85
I think that you're right that there are missing dependencies. Since the FAT filesystem regression tests are all failing, I'd say that `mtools` isn't installed. Here's a list: https://github.com/fhunleth/fwup/blob/master/docs/build_linux.md#common-dependencies. It bothers me a little that a couple of the sparse regression tests are failing. That might be something I need to actually fix. If those

[2018-02-02 23:09] liberza commented on #85
I just corrected the dependencies in the AUR. Try installing again, it should get them automatically.

[2018-02-02 23:45] gallexme commented on #85
installed mtools manually and it worked(before u updated the aur)

[2018-03-09 18:42] tcoopman commented on #85
I'm trying to install this aur package and now other tests fail:

[code]

Any idea if I'm missing something as well?

[2018-03-09 18:49] tcoopman commented on #85
Found my problem, make check needs to be run as root.

[2018-03-09 19:09] fhunleth commented on #85
Ugh. I really didn't want the tests to require root. I guess those tests need to be smarter to avoid that permission denied error.

[2018-03-09 19:17] fhunleth commented on #85
Just to add, those tests that failed won't impact you at all when using `fwup`. They're trying to verify some things used when doing software updates on-device. However, if you have a minute or two to experiment with passing options to `find` to skip those files and avoid the error, that would be really helpful. Or if you could just do an `ls -las /dev/vboxusb`. I'm curious what the permissions ar

[2018-03-09 19:21] tcoopman commented on #85
Here you go

[code]

[2018-03-11 23:56] fhunleth commented on #85
I had the same `/dev/vboxusb` directory and was able to reproduce the issue by removing myself from the `vboxusers` group. I just needed to ignore the error from `find`. Nothing in the `vboxusb` was of interest to the regression test script anyway, so this is safe.

[2018-03-11 23:56] #85 closed

[2018-06-08 16:40] fhunleth opened #86 "Support firmware UUID generation"
Problem:

The version number field is not trusted to unambiguously represent the firmware that's running on a device. The vcs_identifier can be used, but isn't guaranteed to be populated. The solution of running a SHA-256 over the `.fw` file after it has been generated is not desirable since things like signing .fw files would change the computed hash but not alter the contents.

Proposed solution

[2018-06-14 18:17] fhunleth commented on #86
This is partially supported by v1.2.0. You can see the UUID by dumping the `.fw` file's metadata using `fwup -m`. Storage of the firmware UUID on the target can't be automated using only `fwup` and additions to the `fwup.conf`, though.

[2018-06-14 18:33] fhunleth opened #87 "Support query-able minimum version support"
For intermediate upgrade scenarios, i.e., those where a device needs to upgrade to an intermediate version of software before upgrading to the final version, it is desirable to be able to extract the upgrade path from the `.fw` file. The current situation is that you can manually set this scenario up on a firmware update server, but it would be less error prone if the `.fw` file metadata could hel

[2018-07-13 16:08] mobileoverlord opened #88 "Make check failures on Alpine 3.8"
**Failing tests**

`068_readonly_output_error.test`

Results:
[code]
------------------------------------------------
`111_streaming_exit_fast.test`

Results
[code]

[2018-07-13 16:12] mobileoverlord commented on #88
I was in the process of building fwup on alpine in an effort to reduce the container sizes for some of our projects.

If you want to test this out I have the dockerfile checked into a branch

* clone https://github.com/mobileoverlord/fwup/tree/alpine
* `docker build -t alpine-fwup .`
* `docker run --rm -it alpine-fwup`
* `make check`

[2018-08-08 19:07] ConnorRigby opened #91 "Support for expanding partitions"
In Nerves the application partition is hard coded to a particular value. It'd be nice to be able to support expanding that partition to fill the rest of the available space similarly to Raspbian.

[2018-08-08 20:09] michaelkschmidt commented on #67
I just realized this issue is still open

@jsiems added a workaround in `mix firmware.burn`.  See https://github.com/nerves-project/nerves/pull/288

Do we still want a `fwup` only solution?

[2018-08-15 14:25] fhunleth opened #92 "Add command to return the variables used in a .fw file"
People have been using variables to pass provisioning information through `fwup` so that programming and provisioning can be done in one step. The way this is done is to escape environment variables in `fwup.conf` files so that they get evaluated the the .fw is applied rather than when it's created.

There's a desire to get the list of variables referenced in a .fw file for the following reasons:

[2018-09-10 13:47] #86 closed

[2018-09-10 13:48] fhunleth opened #94 "Limit device detection size on OSX"
The current device detection on OSX returns all removable drives. See https://github.com/nerves-project/nerves/issues/334 for a case that doesn't work.

[2018-10-08 15:08] fhunleth commented on #94
Fixed in d146d52894f66835b19b6207361be9ff05c7b8dd.

[2018-10-08 15:08] #94 closed

[2018-10-08 15:12] fhunleth commented on #67
I think we can close this. If someone needs this outside of Nerves, we can point them to what was done there. My hunch is that `fwup` has very few WSL users outside of those using Nerves.

[2018-10-08 15:12] #67 closed

[2018-10-08 15:17] fhunleth opened #95 "Add a verify option"
It seems like there exists a couple instances of write operations working, but not really working. Or at least the reads after rebooting fail. It would be interesting to see if verifying the writes could detect this. In all of the cases that this has happened so far, the eMMC or MicroSD card was dying, but it would be nice to get an error earlier on from `fwup`.

[2018-12-01 01:47] fhunleth commented on #62
Closing since this is unlikely to be implemented in fwup 1.x.

[2018-12-01 01:47] #62 closed

[2019-03-05 02:39] elcritch opened #100 "MBR partitions expansion not working on OSX"
The new `expand=true` option doesn't work after updating the fwup.conf for `nerves_system_rpi3`. After burning a firmware to a new SD card results in a last partition size set to config value.

Related to issue #98.

Build Machine: MacOS Sierra 10.12.6
Fwup Version: 1.3.0 (built with homebrew)

[fwup.conf.txt](https://github.com/fhunleth/fwup/files/2929041/fwup.conf.txt)

[2019-03-11 01:11] #100 closed

[2019-03-11 01:15] fhunleth commented on #100
I was able to reproduce the issue with Mojave. I had a note about this root cause that I made when I was using Sierra or High Sierra, so I'm optimistic that the fwup v1.3.1 release will fix the issue for you.

[2019-03-29 01:07] jclif commented on #56
I believe I'm having a similar problem on MacOS.

[2019-03-29 11:54] fhunleth commented on #56
@jclif Could your drive be failing one of these size checks: https://github.com/fhunleth/fwup/blob/master/src/mmc_osx.c#L103-L110

[2019-03-29 16:52] jclif commented on #56
Yupyup, I have a rather large SD card (>120 GB); though by modern standards, cards of this size seem to be more and more common.

[2019-08-15 21:49] Radivarig commented on #25
Hi, comming from another package but with same error message. Based on [this answer](https://stackoverflow.com/a/36659975/3754246) I had to install `pkgconfig`.

[2019-08-16 18:34] fhunleth commented on #25
@Radivarig It's been a while since I've used Vagrant. Is it still a thing where projects include a Vagrant configuration or snippet to help people use it? If so, would you mind sharing something that I could put into the documentation for others?

[2019-08-16 18:43] Radivarig commented on #25
Sorry for the necropost, I've not used Vagrant so far but this issue was
one of the two results I found for this particular error so I just shared
the solution. It was not obvious to me that the problem had nothing to do
with bash-completion but instead, as the error says, syntax part before it,
which becomes valid after the installation of `pkgconfig`.

On Fri, Aug 16, 2019, 20:34 Frank Hunleth <

[2019-11-01 02:43] fhunleth commented on #91
Fixed in #98.

[2019-11-01 02:43] #91 closed

[2019-11-01 13:03] #14 closed

[2019-11-16 19:21] liberza opened #113 "metadata tests failing"
Hi! I was trying to update the Arch packages [fwup](https://aur.archlinux.org/packages/fwup/) and [fwup-git](https://aur.archlinux.org/packages/fwup-git/) today, but I'm getting similar failing tests for both. I haven't gotten around to updating these packages in a while, so perhaps they're missing a new dependency? test-suite.log files are below for both. Please let me know if you need any other

[2019-11-16 19:56] fhunleth commented on #113
Thanks for the heads up. Let me check...

[2019-11-16 19:58] fhunleth commented on #113
Cool, Arch is doing reproducible builds. Let me fix those tests.

[2019-11-16 20:22] fhunleth commented on #113
Thanks! I was able to reproduce and I fixed it in #114.

Assuming CI is happy and nothing else fails, I plan on making a v1.5.0 release tonight or tomorrow.

[2019-11-16 20:42] liberza commented on #113
Nice, thank you for the quick fix!

[2019-11-16 21:29] #113 closed

[2020-01-16 13:37] deblauwetom opened #118 "gpt checksum problem"
Hello,

I can create gpt partitions using fwup, but gdisk and gparted always tell me there is a problem with the checksum:

[code]
But the list of partitions is ok actually. Is this a known issue?

[2020-01-16 13:46] fhunleth commented on #118
Thanks for reporting this. It is not known and it's surprising since the unit tests compare checksums against sfdisk's calculations.

Anything special to reproduce?

[2020-01-16 14:06] deblauwetom commented on #118
I am trying to make a "pingpong" firmware for the nvidia jetson nano. I already made this for the raspberry pi3 based upon the nerves project example. So I start with an uboot-environment, maybe that is different? Also, there are 12 small partitions I need to make, maybe that is also a bit special?

[code]

[2020-01-16 14:11] fhunleth commented on #118
Oh, I think the U-Boot environment block is overwriting the end of the GPT header. The GPT header goes from block 0 to 34.

Could you try moving UBOOT_ENV_OFFSET to 34 or later?

12 partitions should be fine.

[2020-01-16 14:26] deblauwetom commented on #118
🎉 that was it!  I now moved it to 64 to be sure.
Also, this was the reason it only booted onto the recovery bootloader, probably it did not find the root filesystem due to the corrupt gpt. Thanks!

[2020-01-16 14:26] #118 closed

[2020-01-16 14:44] fhunleth commented on #118
Great!

Btw, I know a few people who would be very interested in a Jetson Nano port, so please let me know when you get something working or have something to share!

[2020-01-16 14:59] deblauwetom commented on #118
Hello, well, now it works to flash a sdcard with fwup to boot on the jetson nano. Unfortunately I can't give you my exact source code, I am doing this for my employer... However, it is really just building a distro for the nano with yocto (meta-tegra layer) and then checking the "....sdcard" file with "gdisk" to see the partition layout. Then just create the 12 partitions with their names, and jus

[2020-01-16 16:01] deblauwetom opened #119 "require-partition-offset with gpt"
Hello,

Is it possible that require-partition-offset only works for mbr?

Best regards,

[2020-01-16 16:09] fhunleth commented on #118
Makes sense. Thanks for the info!

[2020-01-16 16:21] fhunleth commented on #119
Yes, the GPT version hasn't been implemented. Sorry.

[2020-01-16 16:42] fhunleth commented on #119
Fwiw, my GPT projects have not used partition swapping, but I have one now where it's being considered. If I get a chance, I'll implement it.

[2020-01-30 20:32] deblauwetom commented on #119
Nice, If you need a tester, I can test it out!

[2020-02-20 20:26] coop opened #120 "Handle new line characters in `--public-key`"
New line characters are not currently supported when passed to `--public-key`.

Initially I had trouble diagnosing the issue because [fwup errors were not being correctly reported in elixir](https://github.com/ConnorRigby/elixir-fwup/pull/9). Once I understood the problem @jjcarstens helped me track down the issue to new line characters in our public keys:

[code]

Even though the firmware I was t

[2020-02-20 21:29] fhunleth commented on #120
Good catch! This seems like an easy fix. I make it on my next pass through fixing fwup issues.

[2020-04-28 16:42] mcarlin-ds opened #132 "boot=true flag fails for gpt"
When writing a gpt partition with the "boot=true" flag the build fails with the error:
.../images/fwup.conf:162: no such option 'boot'

replacing "boot=true" with "flags=0x4" works properly.   Attached is the fwup.conf (renamed to fwup.conf.txt for upload)
that works, with the "boot=true" commented out.

[fwup.conf.txt](https://github.com/fhunleth/fwup/files/4547251/fwup.conf.txt)

Thanks!

[2020-04-28 16:58] fhunleth commented on #132
I'm glad to hear that 0x4 is the right number for `boot=true`. This seems like an easy add. I'm currently working on some other features in fwup, so I might be able to get it in quickly. Thanks!

[2020-04-29 03:52] fhunleth commented on #120
Closed since this appears to have been fixed when the base64 code was changed. Commit b4d5593 adds a test in case it reappears.

[2020-04-29 03:52] #120 closed

[2020-04-29 13:31] #132 closed

[2020-04-30 22:16] fhunleth commented on #95
Fixed by #138.

[2020-04-30 22:16] #95 closed

[2020-04-30 22:17] fhunleth commented on #29
I haven't seen this in a long time. I'm not sure what changed. I didn't do anything though.

[2020-04-30 22:17] #29 closed

[2020-05-06 14:51] davidepianca98 opened #141 "Fail if meta-product is not correct"
Hello,
I am using fwup in framing mode to update the firmware on a device, sending every chunk I receive from a TCP connection through a pipe to the fwup process. It works perfectly but I would like to include a check by meta-product, so that it's not possible to flash a firmware for another device. If I had the whole file on the filesystem I could then run fwup -m to get the meta and then check i

[2020-05-06 15:40] fhunleth commented on #141
Yes, a check could be added. I'll take a look next time I make a pass on `fwup` maintenance - probably in the next couple weeks.

Here are some other possibilities for now:

1. Firmware metadata is stored at the very beginning of the `.fw` file, so you only need a little data run `fwup -m`. This unit test is an example: https://github.com/fhunleth/fwup/blob/master/tests/055_metadata_partial_file.t

[2020-05-07 15:37] davidepianca98 commented on #141
Thank you very much, I think solution number 1 would be good enough for me, but the optimal solution would be to use uboot require as the board runs from U-Boot. I cannot currently use it as I have redundant env on the board, so I'm writing a patch to add support for it in fwup. When it's ready and tested I will send a pull request here. And I think you can close this issue unless you think the op

[2020-05-07 16:04] fhunleth commented on #141
Thanks - also, thanks for looking into redundant u-boot environment support. I had been putting that off. Even if you only have the updates for https://github.com/fhunleth/fwup/blob/master/src/uboot_env.c, I'd take it to slowly push things forward.

[2020-05-07 16:04] #141 closed

[2020-11-01 19:28] tapickell opened #154 "v1.8.2 Autodetect of `dev/mmcblk0` fails due to `/sys/block/mmcblk0/removable` returning 0"
On PopOs 20.10 (Ubuntu based for System76)
[code]

when using the builtin micro sd card reader
[code]

the system sets the sd card to `/dev/mmcblk0`
[code]
the removable flag is set to 0
[code]

The device is not detected by Fwup
[code]

In the `lib/mmc_linux.c` file there is a check for this value to be non zero
https://github.com/fhunleth/fwup/blob/main/src/mmc_linux.c#L104

I am also attempting

[2020-11-01 19:55] tapickell commented on #154
It looks like in PopOs they are suing their own systemd
and according to this function they are expecting removable to > 0 for sd cards as well.
I have not found were the mounting of the sd card happens where setting of removable should happen yet.
https://github.com/pop-os/systemd/blob/ddb09573ebb7264538af3f77f16b5d1c252a8551/src/mount/mount-tool.c#L1210

[2020-11-01 20:01] fhunleth commented on #154
Thanks for the information. I feel like I should be able to reproduce this on my next pass at updating `fwup`. In the mean time, hopefully manually passing `-d mmcblk0` to force the MicroSD card to be used works for you.

[2020-11-01 20:01] greghgradwell commented on #154
I don't have much to add, but I'm on Pop!OS 18.04 with Fwup v1.8.1 and having the same issue. I've tried with a fresh SD card as well as with one that already had been used to burn a Nerves firmware image.

[code]

[code]

[code]

[2020-11-02 00:27] madisoncommunitycare opened #155 "Test Suite fails for v1.8.2 compile on NixOS"
When using a version override to install the latest version of fwup inside a nix-shell, compilation fails.

[code]

The nix-shell I'm using looks like this:

[code]

[2020-11-02 01:03] fhunleth commented on #155
This seems to be the error that's causing the failures:

[code]

I've never used NixOS before. I see that you have `xdelta` listed above, but I don't know if that supplies the `xdelta3` binary.

[2020-11-02 01:33] jasonmj commented on #155
Following up here (with my correct Github account) based on our conversation in Slack.

**I wrote:**
"I also tried xdeltaUnstable because it appeared to include xdelta3: https://github.com/NixOS/nixpkgs/blob/nixos-unstable/pkgs/tools/compression/xdelta/unstable.nix#L55"

**Frank wrote:**
"My guess would be to remove libsodium (not your problem, but also not required) and to add xdelta."

[2021-01-22 17:54] fhunleth commented on #154
All - sorry for the long wait. I looked into this with the help of @mattludwigs who has a Pop!OS system. The issue is due to a change in the Linux kernel and you all hit it first. I have a fix in #162.

[2021-01-25 21:37] fhunleth opened #164 "Could anyone help me move CI from Travis-CI to anywhere else?"
Travis-CI has been failing for a number of reasons over the past couple years. Both myself and others have been patching over it, but now Travis doesn't even start builds for hours. It's been really slowing down work on `fwup`, and I need to change.

I don't have strong preferences on CI services. Free for OSS and Linux and Mac support are ideal. My frustration level with CI has gotten pretty high

[2021-02-07 17:48] #154 closed

[2021-03-03 17:55] ejc123 opened #167 "fsck.fat v4.2 failure"
Firstly, I do realize fsck.fat is part of dosfstools, not fwup so this may not be the right place.
In dosfstools v4.2, the read_boot() function errors when it can't access the last sector of the filesystem.  Previously, it checked, but didn't error.
All of the tests that use fsck.fat fail except **044_require_file_exist** which sets up a partition after the fat partition and writes to it.  I modif

[2021-03-03 18:17] fhunleth commented on #167
Thanks for the report! It sounds like I got away with unit test sloppiness and dosfstools 4.2 caught me. It makes sense that what you did made the error go away.

Let me take a quick look later. I think there should be a nice solution to this, but I don't have it now.

What OS are you on that has dosfstools 4.2?

[2021-03-03 18:19] ejc123 commented on #167
Arch Linux

[2021-03-03 18:26] fhunleth commented on #167
I should have bet money on that. You Arch people are always the first people to hit everything.

[2021-03-04 14:19] fhunleth commented on #167
Fixed in #168, #171, and #172.

That new version of dosfstools turned out to have some pretty good checks. I think that it helps my confidence in the FAT support in fwup, so thanks for bringing it to my attention.

[2021-03-04 14:19] #167 closed

[2021-03-04 14:20] fhunleth commented on #164
Mostly fixed. Deployment is still an issue.

[2021-03-04 14:20] #164 closed

[2021-03-26 07:46] deblauwetom opened #174 "question: sometimes, for ext4 partition, no sparse compression is done"
Hello,

I am using fwup succesfully for a while, it's great! But now I noticed something with the size of the rootfs inside the fwup file. I have a local build, using yocto, and one on my buildserver(linux mint 19.3, now upgraded to linux mint 20). The ext4 rootfs is actually 1,6GB. And on my local build, the file inside the fwup archive is 1,2 GB, because sparse handling I think, so that is OK. B

[2021-03-27 00:16] fhunleth commented on #174
Hi Tom,

The sparse file feature is depends on what filesystem that you're using on the build server. The way it works is that `fwup` asks the OS where the holes in a file are and then saves that info to the archive.

About a year ago, I started seeing some CI servers that have filesystems which were pretty unreliable with reporting the holes in sparse files. I never investigated since all of my w

[2021-04-07 11:19] deblauwetom commented on #174
Hello,

Thanks for the reply. It seems somehow, the file is not sparse, and it's on a pure ext4 filesystem. I am using yocto, and it seems on my buildserver, I have the file with a timestamp, and one without the timestamp. I discovered a tool called fallocate, which is on linux, and you can recreate a file to be sparse. So I tried with "fallocate -d rootfs.img -v" on the rootfs.img with a timestam

[2021-04-08 07:46] deblauwetom commented on #174
Hi, it seems that fixed it for me.

[2021-04-08 07:46] #174 closed

[2021-04-08 12:09] fhunleth commented on #174
Interesting. Thanks for following up.

[2021-04-16 23:20] sp01109 opened #176 "Failed to start File System Check on Root Device"
**fwup**: v1.8.3 / v1.8.4
**Platform**: RPI 3B+
**Linux kernel**: 4.19.66-v7+

**Problem**
-------------

Every time, after using **fwup** to upgrade the system, error messages are shown and the system will shut down by itself. At the 2nd time to restart the system, it works as normal again.

In _**/boot/cmdline.txt**_, `fsck.mode=auto fsck.repair=yes` is used. If set it to `fsck.mode=skip fsck.re

[2021-04-19 18:12] fhunleth commented on #176
Are you trying to update a filesystem in place? I.e., are you booted and using the root filesystem and then running fwup to upgrade it?

[2021-04-19 21:34] sp01109 commented on #176
I think the answer is yes. After booting up the system, there is an application will call fwup via system command to execute the upgrade. After upgrading, the application will restart the system to make the new root file system become the new one.

[2021-04-19 23:33] fhunleth commented on #176
Hmm. I'm not sure if I'm understanding. You'll need to make sure that the filesystem that you're upgrading is unmounted. That's why I asked. If the filesystem isn't unmounted, it is really easy to corrupt the upgrade since almost any write that the OS does will corrupt it. For example, when you reboot and the OS unmounts everything, it will write anything that's still in case.

What you're describ

[2021-04-19 23:58] sp01109 commented on #176
@fhunleth, Thank you very much for helping me. I am sorry about the confusion here. I actually just reused the example of `fwup.conf` in your another project, [bbb-buildroot-fwup](https://github.com/fhunleth/bbb-buildroot-fwup/blob/master/board/raspberrypi/fwup-pingpong.conf). I am referring to the **pingpong** example of RPi.

I thought I could run **fwup** in the active filesystem (such as a roo

[2021-04-20 00:15] fhunleth commented on #176
Oh, I have not updated that project in far too long. Are you running `fwup -a -d /dev/mmcblk0 -i myfirmware.fw -t upgrade`?

Another thing to mention is that `fwup` runs the first task in the configuration who's prefix matches the task specified on the command line. So `-t upgrade` will tell `fwup` to look at both the `upgrade.a` and `upgrade.b` tasks. The `require` function in the `upgrade.*` tas

[2021-04-20 00:25] sp01109 commented on #176
I am `fwup -anU -d /dev/mmcblk0 -i myfirmware.fw -t upgrade`, which include additional `U` (no-unmount).

I was thinking since the B partition has been unmounted so it is safe and unnecessary to have `fwup` to unmount it. I have had been using it for a while since `fwup` version 1.0.0 (or maybe an earlier version). Do you think it will cause any issue with new `fwup` version?

I will check the new

[2021-08-29 05:14] ayesustenir opened #181 "fwup:amd64 : Depends: libc6:amd64 (>= 2.4) but it is not installable"
### Issue
I try to install `fwup` for nerves project with docker like that:
[code]

But, I got the following error.
[code]
Could anyone point out how to solve the issue?
### Environment
- Docker version 20.10.8, build 3967b7d
- Mac OS Big Sur (M1)

[2021-08-29 13:41] fhunleth commented on #181
Wouldn't Docker on an M1 require an `aarch64` package rather than an `amd64` one? Or does Docker run on QEMU to emulate x86 on the M1?

If an `aarch64` package is needed, then you'll need to build from source for now. I don't have `aarch64` packages yet.

[2021-08-30 03:02] ayesustenir commented on #181
@fhunleth , yes I think we need `aarch64`. I just tried to run `elixir` image without fwup installation process. I tried to print out `uname -a` and I got:
[code]

May be I will try to build from source . Could you have some reference link how to build from source, please let me know?

[2021-08-30 10:48] fhunleth commented on #181
To build from source, download the [source tarball](https://github.com/fwup-home/fwup/releases/download/v1.9.0/fwup-1.9.0.tar.gz) and look at [Linux build instructions](https://github.com/fwup-home/fwup/blob/main/docs/build_linux.md#tldr).

[2021-08-31 04:05] ayesustenir commented on #181
Thanks @fhunleth, I followed the instructions for [Linux build instructions](https://github.com/fwup-home/fwup/blob/main/docs/build_linux.md).Finally, I successfully installed it.

<img width="321" alt="Screen Shot 2021-08-31 at 10 26 37 AM" src="https://user-images.githubusercontent.com/80029200/131439567-f10c4ee9-76cd-413c-91e9-f6444fb42ebe.png">

My docker build instructions is :
[code]
Do you

[2021-08-31 10:50] fhunleth commented on #181
Thanks for the update. There are several unit tests that don't work under Docker or on the default MacOS filesystem. I'm guessing that those are the ones that failed and the test infrastructure didn't skip them. Could you post the `test-suite.log` or the list of failed tests just in case, though?

[2021-08-31 11:02] ayesustenir commented on #181
Sure thing @fhunleth , here is `test-suite.log` file result:

[test-suite.log](https://github.com/fwup-home/fwup/files/7083367/test-suite.log)

[2021-08-31 11:09] fhunleth commented on #181
Thanks! It turns out that the failures aren't anything fancy. It's just that `fsck.fat` isn't installed. That can be installed with `apt install dosfstools`. However, it's only needed to run the unit tests and not to use `fwup`, so there's no need for you to add it.

[2021-08-31 11:09] #181 closed

[2021-08-31 11:14] fhunleth opened #183 "Add `.deb` for `aarch64` to the releases"
It seems like `aarch64` is getting popular enough that a prebuilt release would be convenient. This is useful for Linux and for Docker on M1 Macs.

I could use some help on this if anyone knows how to do this with CircleCI.

[2021-08-31 12:20] ayesustenir commented on #181
thanks @fhunleth for your detail explanation.

[2022-03-30 11:25] wwkeyboard opened #187 "zlib-1.2.11 is no longer available from zlib.net"
http://zlib.net/ bumped their version to 1.2.12 (http://madler.net/pipermail/zlib-announce_madler.net/2022/000012.html) and removed the old zip. This means download_deps.sh fails to download the file. Two possible solutions:

1. change download_deps.sh to point to the zlib asset hosted on github, as it does with confuse
2. update zlib to 1.2.12

[2022-03-30 12:20] wwkeyboard commented on #187
@fhunleth has proposed solution #2 in #188

[2022-03-30 12:54] fhunleth commented on #187
@wwkeyboard Hi @wwkeyboard! Thanks for letting me know about this. I see that you saw my PR.

[2022-03-30 13:14] fhunleth commented on #187
Fixed in #188.

[2022-03-30 13:14] #187 closed

[2022-05-31 15:19] jjcarstens opened #190 "Add lock file support"
Running fwup writes while another fwup process is writing the same drive could be detrimental. Adding a lock file that can be used to infer another fwup process is running could be useful for cases where this needs to strictly be avoided.

Based on offline conversation with Frank, the initial suggestion for implementation is:
1. Figure out the lock file path. Maybe `/tmp/fwup.mmcblk0` or something

[2022-07-03 17:34] mohsen-in opened #191 "Support usb drive or card reader"
Hello

First, thank you for your efforts
In windows, I can't write on usb or card reader
It does not recognize anything at all

[code]

Thanks

[2022-07-03 18:57] fhunleth commented on #191
Thanks for letting me know about this. Can you tell me more about the version of Windows that you're using, whether you're using a USB or built-in card reader? Also, do you know the path to the MicroSD card that `fwup` should have detected?

[2022-07-03 19:18] mohsen-in commented on #191
System : Windows 11 Version 10.0.22000
Micro SD : PNY 32GB Class 10
Card reader : Oscar
USB 3.0

I don't know the sd card path for fwup, but I know my F:\ drive belongs to sd card

[2022-07-03 19:23] fhunleth commented on #191
Thanks. I'll try to reproduce. Since this might take a while, you should be able to get past this by specifying `-d microsd.img` where the `microsd.img` can be any file name. `fwup` will write the image to the file and then you can use Etcher or another program to write the img file to the MicroSD card.

[2022-07-03 19:27] mohsen-in commented on #191
excellent
Thank you

[2022-08-22 10:50] linusdm opened #192 "Compiling with glibc 2.36 fails due to conflicting headers"
Running `make` with a recent glibc 2.36 (tested on a new Linux Manjaro installation, version `21.3.7`) fails. As far as I can see this is due to conflicting headers in [`src/mmc_linux.c`](https://github.com/fwup-home/fwup/blob/a8cac490aaaeb32334346197176e1e74d4c94d9c/src/mmc_linux.c).

As stated in the [changelog of glibc 2.36](https://sourceware.org/glibc/wiki/Release/2.36#Usage_of_.3Clinux.2Fmou

[2022-08-22 11:15] fhunleth commented on #192
Thanks for tracking this down! It sounds like the fix is straightforward, but I'll take a look today and see if I can get an updated patch release out soon.

[2022-08-23 11:43] #192 closed

[2022-09-20 10:09] arthur-proglove opened #198 "xdelta tries to read too much data"
In `fwup_apply.c`:

https://github.com/fwup-home/fwup/blob/c9918f7aa730d07a26a468ba1b1506fb6740b931/src/fwup_apply.c#L250

When xdelta tries to read a new block of 128KiB out of bound, shouldn't `count` be set to `fctx->xd_source_count - offset` instead of throwing an error? That way xdelta can reads at most `xd_source_count`?

[2022-09-20 14:24] fhunleth commented on #198
Interesting. I feel like I agree with you, but I'm unsure as to how I have used xdelta so much without running into this. Are you able to make this happen? I'd really like to see if I can make a unit test out of it.

[2022-09-20 14:45] arthur-proglove commented on #198
Alright, sorry for not mentioning the context how I ran into this :-).

I have a system with 2 A/B partitions of 2.5GiB each.
But my root filesystem is not occupying the 2.5GiB, it's occupying only around 700MiB.

So, when modifying the firmware update to include the delta rootfs (https://github.com/fwup-home/fwup#delta-firmware-updates-beta) I also modified the meta.conf.
Instead of setting `delt

[2022-09-22 12:49] fhunleth commented on #198
Ahh. That makes sense. I always set the `delta-source-raw-count` to the whole partition. I agree that `xdelta` shouldn't care about the 1.8 unused GiB in your case. I've never thought of using `delta-source-raw-count` to be more restrictive with `xdelta`, though. Since `fwup` also verifies a checksum on `xdelta`'s output, I feel that if `xdelta` goes haywire and reads into that 1.8 GiB, that it wi

[2022-09-22 13:19] arthur-proglove commented on #198
Yeah I guess reading the whole partition is not that bad but I can definitely try to create a PR to only read the available space.

Also, I'm trying this on a Raspberry Pi 0 W and the delta update is awfully slow :-(

[2022-09-22 14:00] fhunleth commented on #198
That's been my experience on some processors as well. I really only use delta updates when updating devices over metered connections. I suspect that the Pi Zero's relatively slow MicroSD card performance doesn't help either.